<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <div class="container mt-5" style="max-width: 600px;">
        <form th:action="@{/submit}" method="post" th:object="${user}" class="shadow-sm p-4 rounded">
            <h1 class="text-center mb-4">Регистрация</h1>

            <div class="form-group mb-4">
                <label for="firstName" class="mb-1">Име</label>
                <input type="text" th:field="*{firstName}" id="firstName" name="firstName" class="form-control" placeholder="Въведете име">
                <div th:each="error : ${#fields.errors('firstName')}" th:text="${error}" class="alert alert-danger mt-2" role="alert"></div>
            </div>

            <div class="form-group mb-4">
                <label for="lastName" class="mb-1">Фамилия</label>
                <input type="text" th:field="*{lastName}" id="lastName" name="lastName" class="form-control" placeholder="Въведете фамилия">
                <div th:each="error : ${#fields.errors('lastName')}" th:text="${error}" class="alert alert-danger mt-2" role="alert"></div>
            </div>

            <div class="form-group mb-4">
                <label for="username" class="mb-1">Потребителско име</label>
                <input type="text" th:field="*{username}" id="username" name="username" class="form-control" placeholder="Въведете потребителско име">
                <div th:each="error : ${#fields.errors('username')}" th:text="${error}" class="alert alert-danger mt-2" role="alert"></div>
                <div th:if="${existsUserByUsername}" class="alert alert-danger mt-2" role="alert">Това потребителско име е заето</div>
            </div>

            <div class="form-group mb-4">
                <label for="email" class="mb-1">Имейл</label>
                <input type="email" th:field="*{email}" id="email" name="email" class="form-control" placeholder="Въведете имейл">
                <small id="emailHelp" class="form-text text-muted">Никога няма да споделяме вашия имейл с никой друг.</small>
                <div th:each="error : ${#fields.errors('email')}" th:text="${error}" class="alert alert-danger mt-2" role="alert"></div>
                <div th:if="${existsUserByEmail}" class="alert alert-danger mt-2" role="alert">Този имейл вече е използван</div>
            </div>

            <div class="form-group mb-4">
                <label for="password" class="mb-1">Парола</label>
                <input type="password" th:field="*{password}" id="password" name="password" class="form-control" placeholder="Въведете парола">
                <div th:each="error : ${#fields.errors('password')}" th:text="${error}" class="alert alert-danger mt-2" role="alert"></div>
            </div>

            <input type="submit" class="btn btn-primary mb-2 w-100" value="Регистрация"/>

            <hr class="mb-2 border-secondary-subtle">

            <div class="text-center">
                <a href="/sign-in" class="link-secondary text-decoration-none">Вече имаш акаунт?</a>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>