<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <div class="container mt-5" style="max-width: 1000px;">
        <h1 th:if="${isMine}">My Club</h1>
        <h1 th:text="${club.name}"></h1>
        <p th:text="${club.description}"></p>
        <a th:if="${isStudent}"></a>
        <form th:if="${isStudent && !isJoin}" th:action="|/clubs/submit-join-club/${club.id}|" method="post">
            <button type="submit">Присъедини се</button>
        </form>
        <h2 th:if="${isJoin}">Вече сте член</h2>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>